# Node/Next
node_modules/
.npm/
.pnpm-store/
.next/
out/
.build/
dist/
.cache/
.vercel/
.turbo/

# Env & local
.env
.env.*
!.env.example
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
node_modules
.env
.env.*
.DS_Store
npm-debug.log*
dist
.pm2
